body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d8f6d;
}
.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: black;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800) {
  .heading {
    margin:15px 0;
    font-size: 35px;
  }
}